<!DOCTYPE html>
<html lang="en">
    <!--*начало кода*-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ARB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/StyleSheet1.css"/>
</head>


<body>
    <!--*шапка сайта*-->
    <header>
        <nav class="siteNavidation">
            
            <div class="header_item">  
             <a class="headerlogo" asp-area="" asp-controller="Home" asp-action="Index">ARB</a>
                 </div>  
             
              <div class="header_item">            
             <a class="headerButton" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
               </div>         
              
             <div class="header_item">          
             <a class="headerButton" asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
             </div>
             
             <form>
              <input type="text" placeholder="Искать здесь...">
              <button type="submit"></button>
             </form> 
             
             <div class="header_item">          
             <a class="headerButton" asp-area="" asp-controller="Home" asp-action="Enter">Войти</a>
             </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--*низ сайта*-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ARB - <a asp-area="" asp-controller="Home" asp-action="Privacy">О нас</a>
        </div>
    </footer>
    
    <!--*подключение фалов по умолчанию*-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
